<div class="fullscreen">
	<%= form_for :user, "#", [phx_submit: :join], fn f -> %>
	 <%= Components.simple_text_field f , :name, place: "Enter a name" %>
	 <%= Components.simple_text_field f , :email, place: "Enter an email" %>

	 <div>
		 <%= submit "Join", class: "button" %>
		</div>
	<% end %>
</div>
